@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

$background_color: #fccf33;
$color_button_hover: #e6a303;
$text_color: #979797;
$white: #fff;
$footer_color: #231f20;
$black: #130f40;
$light_bg: #f7f7f7;

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    // scroll-snap-margin-top: 8.5rem;
    scroll-margin-top:  8.5rem;
    

    &::-webkit-scrollbar {
        width: 1rem;
    }
    &::-webkit-scrollbar-track {
        background: $white;
    }
    &::-webkit-scrollbar-thumb {
        background: $color_button_hover;
        border-radius: 5rem;
    }
}

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
}

@mixin grid($val){
    display: grid;
    display: -ms-grid;
    grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
    gap: 1.5rem;
}

// NAVBAR CSS STARTS HERE
.navbar_container{
    
    .navbar_main{
        position: relative;

        .navbar_top{
            display: flex;
            justify-content: center;
            align-items: center;
            border-bottom: 0.5px solid #9797977e;
            background-color: transparent;
            z-index: 2;
            position: absolute;
            left: 0;
            right: 0;

            .navbar_row{
                width: 120rem;

                .navbar_column{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    .navbar_social_left_side{
                        display: flex;
            
                        .navbar_phone_icon{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-weight: 500;
                            padding: 15px 20px;
                            border-right: 0.5px solid #9797977e;
                            color: $white;
        
                            i{
                                font-size: 1.3rem;
                                margin-right: 5px;
                            }
                            p{
                                font-size: 1.3rem;
                                text-transform: uppercase;
                                margin-right: 5px;
                            }
                            a{
                                font-size: 1.3rem;
                                margin-right: 5px;
                                color: $white;
                            }
                        }
                        .navbar_email_icon{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-weight: 500;
                            padding: 15px 20px;
        
                            i{
                                font-size: 1.3rem;
                                margin-right: 5px;
                                color: $white;
                            }
                            a{
                                font-size: 1.3rem;
                                color: $white;
                            }
                        }
                    }
                    .navbar_social_right_side{
                        display: flex;
                        
                        .navbar_social_media_icon{
                            display: flex;
                            margin-right: 1.3rem;
                            div{
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                font-weight: 500;
                                padding: 15px 10px;
                                font-size: 1.3rem;
        
                                a{
                                    color: $white;
                                }
                            }
                        }
                        .navbar_search_login{
                            display: flex;
                            
                            div{
                                justify-content: center;
                                align-items: center;
                                font-weight: 500;
                                padding: 15px 20px;
                                font-size: 1.3rem;
                                border-right: 0.5px solid #9797977e;
                                border-left: 0.5px solid #9797977e;
                                cursor: pointer;
                                color: $white;
                            }
                            .navbar_search{
                                border-right: none;
                            }
                        
                        }
                    }
                }
                
            }
        }
        .navbar_bottom{
            display: flex;
            justify-content: space-around;
            align-items: center;
            position: absolute;
            z-index: 2;
            top: 75px;
            left: 0rem;
            right: 0rem;

            .navbar_row{
                width: 116rem;

                .navbar_column{
                    display: flex;
                    justify-content: space-between;
                }
            }
            .navbar_logo_left{
                color: $white;
                font-weight: 500;
                font-size: 35px;
                text-transform: capitalize;
            }
            .navbar_menu_right{
                display: flex;
                list-style-type: none;
                cursor: pointer;

                li {
                    font-size: 17px;
                    margin-right: 15px;
                    font-weight: 600;
                    color: $white;
                }
            }
        }
    }
}
.home_page_banner{
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;

    .content{
        flex: 1 1 41rem;
        position: absolute;
        z-index: 3;
        
        span{
            font-size: 2rem;
            color: $background_color;
        }
        h3{
            font-size: 6rem;
            color: $white;
            padding-top: 1rem;
            font-weight: 600;
        }
        p{
            font-size: 2.5rem;
            color: $light_bg;
            line-height: 2;
            padding: 1rem 0;
        }
        .home_page_click{
            flex-direction: row;
            display: flex;
            align-items: center;
            transition: 0.3s linear;
            width: 16rem;

            .icon_click{
                width: 40px;
                height: 40px;
                background-color: $background_color;
                text-align: center;
                align-items: center;
                display: flex;
                justify-content: center;
                border-radius: 50%;
                margin-right: 10px;
                
                i{
                    font-size: 2.5rem;
                    color: $white;
                }
            }
            a{
                font-size: 1.5rem;
                color: $white;
                -webkit-text-stroke: 1px $white;
                position: relative;
                transition: linear 0.3s;
        
                &::before{
                    content: attr(data-text);
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 0;
                    height: 100%;
                    -webkit-text-stroke: 1px $background_color;
                    overflow: hidden;
                    animation: animate 4s linear infinite;
                }
            }
            &:hover{
                .icon_click{
                    background-color: $color_button_hover;

                    i{
                        color: $footer_color;
                    }
                }
            }
        }
    }
    .image{
        video{
            object-fit: cover;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: top center;
            display: block;
            width: 100%;
            height: auto;
        }
    }

}
@keyframes animate{
    0%{
        width: 0;
    }
    10%{
        width: 0%;
    }
    20%{
        width: 0%;
    }
    30%{
        width: 100%;
    }
    40%{
        width: 100%;
    }
    50%{
        width: 100%;
    }
    60%{
        width: 100%;
    }
    70%{
        width: 100%;
    }
    80%{
        width: 0;
    }
    90%{
        width: 0;
    }
    100%{
        width: 0;
    }
}
// NAVBAR CSS ENDS HERE


// FOOTER CSS STARTS HERE
.footer {   
    position: relative;

    .footer_infor_top{
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        position: absolute;
        top: -80px;
        left: 37rem;
        right: 37rem;
        background-color: $background_color;
        height: 16.5rem;
        text-transform: uppercase;
        border-radius: 0.5rem;

        div{
            display: flex;
            flex-direction: column;
            height: 7rem;
            border-right: 0.5px solid rgba(202, 194, 194, 0.425);
            padding: 0 2rem;
            width: 100%;

            i{
                margin-bottom: 10px;
                font-size: 2.5rem;
            }
            p{
                font-size: 15px;
                font-weight: 500;
                color: $footer_color;
            }
            a{
                color: $footer_color;
                font-size: 15px;
                font-weight: 500;
                transition: 0.3s linear;

                &:hover{
                    color: $white;
                    text-decoration: underline;
                }
            }
        }
        .footer_time{
            border: none;
        }
    }
    .footer_container {
        background-color: $footer_color;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 130px 0 50px 0;
        

        .footer_column {
            display: flex;
            flex-direction: column;
            margin: 0px 60px;

            .footer_logo{
                color: $white;
                font-weight: 500;
                font-size: 35px;
                margin-bottom: 20px;
            }
            .footer_social_icon{
                display: flex;
                flex-direction: row;

                div{
                    width: 4.5rem;
                    height: 4.5rem;
                    background: #333;
                    margin-left: 0.5rem;
                    cursor: pointer;
                    text-align: center;  
                    border-radius: 0.5rem;
                    line-height: 4.5rem;

                    a{
                        font-size: 2rem;
                        color: $white;
                    }
                    &:hover{
                        background-color: $background_color;
                        transition: 0.3s linear;
                        
                        a{
                            color: $footer_color;
                        }
                    }
                }
                
            }
            h3 {
                color: $white;
                margin-bottom: 10px;
                font-weight: 500;
                font-size: 2rem;
            }
            a {
                color: $text_color;
                margin-bottom: 2px;
                font-size: 1.5rem;

                &:hover{
                    color: $white;
                    transition: 0.3s linear;

                }
            }
        }
    }
    .footer_copyright{
        background-color: $footer_color;
        border-top: 1px solid #333;
        width: 100%;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        p{
            color: $text_color;
            margin-right: 5px;
            font-size: 1.3rem;
            border-bottom: 1px solid $footer_color;
        }
        a{
            color: $background_color;
            padding: 0 5px;
            font-size: 1.3rem;
            border-left: 1px solid $text_color;

            &::after{
                display:block;
                content: '';
                border-bottom: solid 1px $background_color;  
                transform: scaleX(0);  
                transition: transform 0.3s ease-in-out;
            }
            &:hover::after{
                transform: scaleX(1);
            }
            &::after{
                transform-origin:  50% 50%; 
            }
        }
    }
}
// FOOTER CSS ENDS HERE


// CLICK_SCROLL_TOP STARTS HERE
.scrollTop{
    position: fixed;
    bottom: 20px;
    right: 30px;
    width: 40px;
    height: 40px;
    z-index: 10000;
    font-size: 15px;
    padding: 12px;
    outline: none;
    border: none;
    border-radius: 0.5rem;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    visibility: hidden;
    transition: 0.3s linear;

    
    &:hover{
        background-color: $background_color;
        color: $footer_color;
    }
    &.active{
        visibility: visible;
        opacity: 1;
    }
    i{
        align-items: center;
        justify-content: center;
        display: flex;
    }
}
// CLICK_SCROLL_TOP ENDS HERE